# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [18]:
import pandas as pd
import numpy as np
pd.set_option("max_columns", None) # show all cols
pd.set_option('max_colwidth', None) # show full width of showing cols

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

### Step 4. How many products cost more than $10.00?

In [11]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [3]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [10]:
chipo.dtypes['item_price']

dtype('O')

In [12]:
remove_usd = lambda x: float(x[1: -1])
chipo['item_price'] = chipo['item_price'].apply(remove_usd)

In [13]:
mask = chipo['item_price'] > 10
chipo[mask]['order_id'].count()

1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [22]:
chipo[['item_name', 'item_price']].drop_duplicates()[(chipo['item_name'] == 'Chicken Bowl')]

<ipython-input-22-bc25efb183bc>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  chipo[['item_name', 'item_price']].drop_duplicates()[(chipo['item_name'] == 'Chicken Bowl')]

         item_name  item_price
4     Chicken Bowl       16.98
5     Chicken Bowl       10.98
13    Chicken Bowl       11.25
19    Chicken Bowl        8.75
26    Chicken Bowl        8.49
154   Chicken Bowl       17.50
409   Chicken Bowl       32.94
1429  Chicken Bowl       22.50
1514  Chicken Bowl       26.25
1832  Chicken Bowl       21.96
2918  Chicken Bowl        8.19
2919  Chicken Bowl       10.58
4235  Chicken Bowl        8.50

### Step 6. Sort by the name of the item

In [23]:
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Lettuce]]",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sour Cream, Lettuce]]",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [30]:
chipo.sort_values(by = 'item_price', ascending= False).iloc[0]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [35]:
len(chipo[chipo['item_name'] == 'Veggie Salad Bowl'])

18

### Step 9. How many times did someone order more than one Canned Soda?

In [37]:
mask = (chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)
len(chipo[mask])

20